body {
	word-break: break-all;
}

.window {
	display: flex;
	flex-direction: column;
	vertical-align: center;
    border: 15px solid rgba(0, 155, 119, 0.5);
	border-radius: 7px;
}

h1 {
	padding: 10px;
	margin-top: 0;
	margin-bottom: 0;
	background: #e4be04;
	border-radius: 6px 6px 0 0;
	border: 1px solid black;
	border-bottom: 0;
}

p {
	flex: 1;
	margin-top: 0;
	margin-bottom: 0;
	padding: 10px;
	background: #fffbc8;
	border-radius: 0px 0px 6px 6px;
	border: 1px solid black;
	border-top: 0;
}